body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Noto Sans KR", "Noto Sans CJK KR", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic",  arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
    color:#2d2f31;
    font-size:14px;
    -webkit-font-smoothing: antialiased;
}
a{
    color:#2d2f31;
    text-decoration: none;
}
.global-inner{
    max-width:960px;
    margin:0 auto;
}
.list-inner{
    max-width:640px;
    margin:0 auto;
}